:root {
    --primary: #fff;
    --light-purple:#6500ff;
    --dark-purple:#3a0667;
    --light-orange:#ffc12a;
    --dark-orange:#ff8304;
    --dark-sky-blue:#239eca;
    --light-sky-blue:#02edff;
    --dark-green:#01ff67;
    --light-green:#04ffd2;
    --dark-red:#ff6a00;
    --light-red:#ff0456;
  }
  
  .btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap; 
    color: #fff;
  }
 
  
  .btn--medium {
    padding: 8px 20px;
    font-size: 18px;
  }
  
  .btn--large {
    padding: 12px 26px;
    font-size: 20px;
  }
  
  .btn--mobile {
    text-align: center;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }
  
  .btn--wide {
    padding: 12px 64px;
    font-size: 20px;
  }
  
  .btn--large:hover,
  .btn--medium:hover,
  .btn--mobile:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: #242424;
  }
  
  .btn--wide:hover {
    color: #fff;
    background-color: #f00946;
    transition: all 0.2s ease-out;
  }
  
  .btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px 16px;
    height: 100%;
    width: 100%;
  }
 
  
  .primary {
    background-color: #242424;
    color: #fff;
    border: none;
  }
  
  .primary:hover {
    background-color: #fff;
    color: #242424;
    border: none;
  }

  .btn--primary {
    background-color: var(--primary);
    color: #ffffff;
    border-radius: 50px;
    border: 1px solid var(--primary);
  }
  

  .btn--outline-purple {
    background-color:transparent;
    padding: 8px 20px;
    border: 1px solid var(--light-purple);
    border-radius: 50px;
    color:var(--light-purple);
    transition: all 0.3s ease-out;
  }
  .btn--outline-orange {
    background-color: transparent;
    padding: 8px 20px;
    border: 1px solid var(--dark-orange);
    border-radius: 50px;
    color: #ff8304;
    transition: all 0.3s ease-out;
  }
   
  .orange {
    background:linear-gradient(var(--light-orange),var(--dark-orange));

    border-radius: 50px;
    box-shadow: 0 10px 30px 2px rgba(256,156,0,0.6);
  }
  .orange:hover {
    background-color: white;
    border: 1px solid var(--dark-orange);
    transition: all 0.3s ease-out;
    color: var(--dark-orange);
  }
  .purple {
    background:linear-gradient(var(--light-purple),var(--dark-purple));
    border-radius: 50px;
    border: 1px solid var(--primary);
    box-shadow: 0 10px 30px 2px  rgba(131,8,255,0.2);    
  }
  .purple:hover {
    background-color:white;
    padding: 8px 20px;
    border: 1px solid var(--light-purple);
    border-radius: 50px;
    color:var(--light-purple);
    transition: all 0.3s ease-out;
  }
  @media screen and (max-width: 960px) {
    .btn{
      width: 65%;
      margin-bottom: 35px;
      height: 60px;
     
    }
  }
  
  
  @media screen and (min-width: 961px){
    .btn {  
    width: 210px;
    height: 70px;
  }
  }