/* .card{
    /* background: ; */
/* } */ 
.transactions-input{
    background: rgba(144,15,255,0.3);
    color:#2e065e;
    width: 70vw;
    margin-left: -20vw;
    height: 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.purple-input::placeholder{
    color:#2e065e;
}
/* .orange-input{} */
   